<% if (locals.errors) {%>
  <div class="errorMessagesDiv">
    <ul>
      <% errors.forEach(function(error) { %>
        <li class="errorMessages"><%= error.msg %></li>
      <% }); %>
    </ul>

  </div>
    
  <% } %>