<div class="header">
    <div class="logoBox">
        
        <div class="logoText">CloudDrive</div>
    </div>
    <div class="options">
        <% if(user){%>
            
                <div><i class="fa-regular fa-user" ></i> Hi <%=user.username.substring(0,7)%>..</div>
                <div><a href="/"><i class="fa-solid fa-house"></i> Home</a></div>
                <% const currentUserRootFolder = "/folder/"+locals.rootFolder%>
                <div><a id="rootFolderDrive" href="<%=currentUserRootFolder%>"><i class="fa-solid fa-folder-tree"></i> Go to Drive</a></div>
                <div><a href="/log-out"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a></div>
            
            
        <%}else{%>
            <a href="/log-in"><i class="fa-solid fa-user-check"></i> Log In</a>
            <a href="/sign-up"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign Up</a>    
        <%}%>   
    </div>

</div>