<html>
    <head>
        <%- include('./headInfo'); %>
    </head>
    <body>
        <%- include("header.ejs")%>
        <div class="mainBody">
            <div class="homeParaAndButton">
                <div class="homeParaTitle">
                    Welcome to CloudDrive
                </div>
                <div class="homePara">
                    Our platform is designed to help you quickly upload, access, and share your files without the clutter. Enjoy a clean, user-friendly interface that puts your productivity first, allowing you to focus on what matters most. Experience hassle-free file management today—simple, secure, and always at your fingertips.
                </div>
                <div class="homeButton">
                    <% if(user){%>
                        <% const currentUserRootFolder = "/folder/"+locals.rootFolder%>
                    <a href="<%=currentUserRootFolder%>"><button>Get Started</button></a>
                    <%}else{%>
                        <a href="/log-in"><button>Get Started</button></a>
                    <%}%>  
                </div>
            </div>
            

            <div class="homepageCards">
                <div class="eachHomepageCard">
                    <div class="homepageCardHeading">Quick Upload</div>
                    <div class="homepageCardPara">Upload documents in a flash—because time waits for no one!</div>
                </div>

                <div class="eachHomepageCard">
                    <div class="homepageCardHeading">Clean UI</div>
                    <div class="homepageCardPara">Streamlined design for your documents—simplicity at your fingertips!</div>
                </div>

                <div class="eachHomepageCard">
                    <div class="homepageCardHeading">Secure Access</div>
                    <div class="homepageCardPara">Your documents, your fortress—access secured with the highest standards!</div>
                </div>
            </div>
            
        </div>
    </body>
</html>