<!doctype html>
<html>
    <head>
        <%- include('./headInfo'); %>
    </head>
    <body>
        <%- include("header.ejs")%>

        <div class="mainBody">
            <div class="formPage">
                <form action="" method="POST">
                    <div>LogIn Form</div>
                    <input id="username" name="username" type="username" placeholder="Email Address" />
    
                    <input id="password" name="password" type="password" placeholder="Password"/>
        
                    <button>Log In</button>
                    <div class="formBottom">
                        <div><a>Help</a></div>
                        <div>Dont have an account ? <a href="/sign-up">Sign Up</a></div>
                    </div>
        
                    <%- include("./errors.ejs") %>
        
                </form>
            </div>
            
        </div>
    </body>
</html>