
<dialog id="updateFolderNameDialog">

    <div class="dialogContents">
        
        <button autofocus class="closeUpdateFolderDialog dialogCloseButton">X</button>
        <h3>Change Folder Name</h3>
        <form id="updateFolderNameForm" method="POST">
            <input id="updateFolderNameFormInput" type="text" name="updatedFolderName"  />
            <button type="submit">submit</button>
        </form>
    </div>
    
    
  </dialog>

  