<dialog id="updateFileNameDialog">
    <div class="dialogContents">
        <div class="dialogHeader">
            <div class="dialogHeading">Change File Name</div>
            <button autofocus class="closeUpdateFileNameDialog dialogCloseButton">X</button>
        </div>
        <form id="updateFileNameForm" method="POST">
            <input id="updateFileNameFormInput" type="text" name="updatedFileName" />
            <button class="submitButton" type="submit">Submit</button>
        </form>
    </div>
</dialog>