
<dialog id="updateFolderNameDialog">
    <form id="updateFolderNameForm" method="POST">
        <input id="updateFolderNameFormInput" type="text" name="updatedFolderName"  />
        <button type="submit">submit</button>
    </form>
    <button autofocus class="closeUpdateFolderDialog">Close</button>
  </dialog>