
<dialog id="updateFileNameDialog">

    <div class="dialogContents">
        <button autofocus class="closeUpdateFileNameDialog dialogCloseButton">X</button>
        <h3>Change File Name</h3>
        <form id="updateFileNameForm"  method="POST">
            <input id="updateFileNameFormInput" type="text" name="updatedFileName"  />

           
            <button type="submit" >submit</button>
                
          
            
        </form>
    </div>

        
        
        
        
</dialog>

