
<dialog id="updateFileNameDialog">
    <form action="<%=uploadLink%>" method="POST">
        <input type="text" name="fileName" />
        <button type="submit">submit</button>
    </form>
    <button autofocus class="closeUpdateFileNameDialog">Close</button>
</dialog>