
<dialog id="updateFolderNameDialog">
    <form action="<%=uploadLink%>" method="POST">
        <input type="text" name="folderName" />
        <button type="submit">submit</button>
    </form>
    <button autofocus class="closeUpdateFolderDialog">Close</button>
  </dialog>