
<dialog id="updateFolderNameDialog">

    <div class="dialogContents">
        <div class="dialogHeader">
            <div class="dialogHeading">Change Folder Name</div>
            <button autofocus class="closeUpdateFolderDialog dialogCloseButton">X</button>
        </div>
        
        <form id="updateFolderNameForm" method="POST">
            <input id="updateFolderNameFormInput" type="text" name="updatedFolderName"  />
            <button class="submitButton" type="submit">Submit</button>
        </form>
    </div>
    
    
  </dialog>

  