
<dialog id="updateFileNameDialog">
    <form id="updateFileNameForm"  method="POST">
        <input id="updateFileNameFormInput" type="text" name="updatedFileName"  />
        <button type="submit">submit</button>
    </form>
    <button autofocus class="closeUpdateFileNameDialog">Close</button>
</dialog>