<dialog id="uploadFileDialog">


    <div class="dialogContents">
        <button class="cancelButton dialogCloseButton">X</button>
        <h3>Upload File</h3>
        <h5>Max File Size : 10Mb</h5>
        <form action="<%=uploadLink%>" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploaded-file" />
            <button class="uploadFileButton" type="submit">submit</button>
        </form>
        

    </div>
    
  </dialog>

